body{
    /* background-color: yellow; */
    background-image: url(https://as1.ftcdn.net/v2/jpg/00/96/39/56/1000_F_96395667_oyLbgiWrboVJr8P2jOQdhLcYgozFXh2B.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}